:root {
    --primary-color: #ee4d2d;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;

    --header-height: 120px;
    --navbar-height: 38px;
    --header-with-search-height: calc(
        var(--header-height) - var(--navbar-height)
    );
    --header-sort-bar-height: 46px;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

/* responsive  */

/* .grid{
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
} */

/* .grid_full-width{
    width: 100%;
} */

/* .grid_row{
    display: flex;
    flex-wrap: wrap; 
    margin-left: -5px;
    margin-right: -5px;
} */

/* test */
/* .grid_column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
} */

/* .grid_column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
} */

/* .grid_column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
} */
/* animatin  */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        opacity: 0;
        transform: scale(var(--growth-from));
    }
    to {
        opacity: 1;
        transform: scale(var(--growth-to));
    }
}

/* modal  */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal_body {
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s;
}

/* button style  */

.btn {
    min-width: 124px;
    min-height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    color: var(--text-color);
    background-color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
    cursor: pointer;
}

.btn.btn-momar:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn-primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn-disable {
    cursor: default;
    background-color: #c3c3c3;
    color: #949494;
}

.auth-form_controls {
    display: flex;
    justify-content: flex-end;
}

.btn.btn-size-s {
    height: 32px;
    font-size: 1.2rem;
    padding: 0 8px;
}

/* Selection input  */

.select-input {
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.select-input_lable {
    font-size: 1.4rem;
}

.select-input_icon {
    font-size: 1.2rem;
    color: rgb(131, 131, 131);
}

.select-input_list {
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: var(--white-color);
    list-style: none;
    padding: 8px 16px;
    display: none;
}

.select-input:hover .select-input_list {
    display: block;
}

.select-input_item {
    display: block;
    padding: 4px 0;
}

.select-input_link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
}

.select-input_link:hover {
    color: var(--primary-color);
}

/* Pagination  */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.pagination-item {
    margin: 0 12px;
}

.pagination-item_link {
    --height: 30px;
    text-decoration: none;
    font-weight: 300;
    font-size: 2rem;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    display: block;
    text-align: center;
    line-height: var(--height);
    border-radius: 2px;
}

.pagination-item-active .pagination-item_link {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-item-active .pagination-item_link:hover {
    background-color: #fb6445;
}
